<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pine_sTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Pine_sTool.DetailedFunctionalities.MouseClickProgram.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="Pine_sTool.DetailedFunctionalities.MouseClickProgram.IService1">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Pine_sTool.DetailedFunctionalities.MouseClickProgram/Service1/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <userSettings>
        <Pine_sTool.Properties.Settings>
            <setting name="Xaxis" serializeAs="String">
                <value>1275</value>
            </setting>
            <setting name="Yaxis" serializeAs="String">
                <value>740</value>
            </setting>
            <setting name="SpanDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SyncClickTimes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WholeKeyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>176630</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>2808725485godpinE</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://192.168.100.12:8080/</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>E:\产品文档\出厂资料</value>
            </setting>
            <setting name="ThreadNum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsShowChromCheck" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="DriverPath" serializeAs="String">
                <value>E:\产品文档\出厂资料\chromedriver.exe</value>
            </setting>
            <setting name="Sch" serializeAs="String">
                <value />
            </setting>
            <setting name="DrawingNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="MES_URL" serializeAs="String">
                <value>http://hbmes.tbea-hb.com.cn/</value>
            </setting>
            <setting name="MES_ThreadNum" serializeAs="String">
                <value>1</value>
            </setting>
        </Pine_sTool.Properties.Settings>
    </userSettings>
</configuration>
